 /******************************************************************
        * 功能模塊描述：创建共用于所有手机模块的样式，方便以后作业
        * ===================================================
        * 功能內容描述：创建共用于所有手机模块的样式
        * 聯繫方式：Jeason_zhang888@163.com      Tel:13641638693
        * 修改時間：
        * ===================================================
        *****************************************************************/	
        .navbar{
        	margin-top:0;
        }
		#navBar .navbar-brand{
			background: url(../img/logo.jpg) no-repeat center;
			width: 120px;
			background-size: 100% 100%;
		}
		
