 /******************************************************************
        * 功能模塊描述：创建共用于所有手机模块的样式，方便以后作业
        * ===================================================
        * 功能內容描述：创建共用于所有手机模块的样式
        * 聯繫方式：Jeason_zhang888@163.com      Tel:13641638693
        * 修改時間：
        * ===================================================
        *****************************************************************/
       	
       .carousel-inner>.item{
		 	width: 100%;
		 	height: 30rem;
		 }
		 .carousel-inner>.item>img{
		 	width: 100%;
		 	height: 100%;
		 }
		 .carousel-control{
		 	font-size: 6rem;
		 	line-height: 30rem;
		 }
